<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ua.icm.studentmanagerv1">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginActivity"
            android:icon="@drawable/ic_icon"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name="responsible.ResponsibleNewCourse" />
        <activity android:name="list.ListEnroleCourses" />
        <activity android:name="list.ListEnroleCourses2" />
        <activity android:name="responsible.ResponsibleNewEdition" />
        <activity android:name="responsible.ResponsibleEditActivity" />
        <activity
            android:name="responsible.ResponsibleEditEvaluationsActivity"
            android:label="@string/title_activity_responsible_edit_evaluations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="list.ListIndividualCourse" />
        <activity android:name="list.ListCalculator"></activity>
    </application>

</manifest>